<ion-header>
    <ion-toolbar>
        <ion-title>Create new Blog Entry</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-align-items-center ion-justify-content-center">

    <form (submit)="createEntry();" [noValidate]="false">
        <ion-item>
            <ion-label>Author</ion-label>
            <ion-select *ngIf="authors.length > 0" [(ngModel)]="news.authors" [compareWith]="compareWithAuthor"
                        [ngModelOptions]="{standalone: true}" [value]="authors[0]" cancelText="Dismiss"
                        interface="popover"
                        multiple="true" okText="Okay">
                <ng-container *ngFor="let author of authors;">
                    <ion-select-option
                            [value]="author">{{author.sex === "MALE" ? "Mr." : "Mrs."}} {{author.firstName}} {{author.lastName}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <br>
        <ion-item>
            <ion-label>Category</ion-label>
            <ion-select *ngIf="categories.length > 0" [(ngModel)]="news.category" [compareWith]="compareWithCategory"
                        [ngModelOptions]="{standalone: true}" [value]="categories[0]" cancelText="Dismiss"
                        interface="popover"
                        okText="Okay">
                <ng-container *ngFor="let category of categories;">
                    <ion-select-option [value]="category">{{category.name}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <br>
        <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input [(ngModel)]="news.title" [ngModelOptions]="{standalone: true}" required="true"></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea [(ngModel)]="news.text" [ngModelOptions]="{standalone: true}" required="true"></ion-textarea>
        </ion-item>


        <br><br>
        <ion-button class="ion-align-self-center" expand="block" type="submit">
            <ion-icon name="send" slot="end"></ion-icon>
            Submit
        </ion-button>
    </form>
</ion-content>
