<ion-header>
    <ion-toolbar>
        <ion-title>Create new Blog Entry</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-align-items-center ion-justify-content-center">

    <form [noValidate]="false" (submit)="createEntry();">
        <ion-item>
            <ion-label>Author</ion-label>
            <ion-select [(ngModel)]="news.authors" [ngModelOptions]="{standalone: true}" multiple="true"
                        *ngIf="authors.length > 0" interface="popover" [value]="authors[0]" okText="Okay"
                        cancelText="Dismiss" [compareWith]="compareWithAuthor">
                <ng-container *ngFor="let author of authors;">
                    <ion-select-option
                            [value]="author">{{author.sex === "MALE" ? "Mr." : "Mrs."}} {{author.firstName}} {{author.lastName}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <br>
        <ion-item>
            <ion-label>Attraction</ion-label>
            <ion-select [(ngModel)]="news.attraction" [ngModelOptions]="{standalone: true}"
                        *ngIf="attractions.length > 0" interface="popover" [value]="attractions[0]" okText="Okay"
                        cancelText="Dismiss" [compareWith]="compareWithAttraction">
                <ng-container *ngFor="let attraction of attractions;">
                    <ion-select-option *ngIf="attraction.name !== '--blank--'"
                                       [value]="attraction">{{attraction.name}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <br>
        <ion-item>
            <ion-label>Category</ion-label>
            <ion-select [(ngModel)]="news.category" [ngModelOptions]="{standalone: true}" *ngIf="categories.length > 0"
                        interface="popover" [value]="categories[0]" okText="Okay" cancelText="Dismiss"
                        [compareWith]="compareWithCategory">
                <ng-container *ngFor="let category of categories;">
                    <ion-select-option [value]="category">{{category.name}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <br>
        <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input [(ngModel)]="news.title" [ngModelOptions]="{standalone: true}" required="true"></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea [(ngModel)]="news.text" [ngModelOptions]="{standalone: true}" required="true"></ion-textarea>
        </ion-item>


        <br><br>
        <ion-button expand="block" class="ion-align-self-center" type="submit">
            <ion-icon slot="end" name="send"></ion-icon>
            Submit
        </ion-button>
    </form>
</ion-content>
