<ion-header>
    <ion-toolbar>
        <ion-title>Statistics</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label>Specific Month?</ion-label>
            <ion-toggle (ionChange)="changeStatistic()" [(ngModel)]="useMonthlyStatistic"></ion-toggle>
        </ion-item>
        <ion-item [hidden]="!useMonthlyStatistic">
            <ion-label position="stacked">Choose Month and Year</ion-label>
            <ion-datetime (ionChange)="changeStatistic()" [(ngModel)]="currentDate" [value]="currentDate"
                          displayFormat="MMMM YY" max="2022-12-01" min="2020-12-01"></ion-datetime>
        </ion-item>
    </ion-list>

    <br>
    <h5>Filter by categories:</h5>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="categories[0]">
        <ion-segment-button *ngFor="let category of categories;" [value]="category">
            <ion-label>{{category.name}}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <table>
        <tr>
            <th>Datum</th>
            <th>Views</th>
        </tr>
        <tr *ngFor="let stat of allStats;">
            <td>{{stat.date}}</td>
            <td>{{stat.viewCount}}</td>
        </tr>
        <tr>
            <td>Summe:</td>
            <td>{{sumOfViews}}</td>
        </tr>
    </table>
</ion-content>
